<h1>Dashboard</h1>
<table class="table table-bordered table-striped">
	<tbody>
		<tr>
      <th>
			<h2>Products</h2>
      </th>
      
      <th>
      <h2>Categories</h2>
      </th>

		</tr>
		<tr>

      <td>
        <h3>
          <%= @product%>
        </h3>
      </td>

      <td>
      <h3>
        <%= @category%>
      </h3>
      </td>

		</tr>
	</tbody>
</table>